<div>
	<div class="container center-content padd15"></div>

	<div class="foot1">
		<div class="row">
			<div class="container text-center">
				<a href="#">Member firms</a> | <a href="#">Site map</a> | <a
					href="#">Contact us</a> | <a href="#">Privacy</a> | <a href="#">Cookies
					info</a> | <a href="#">Legal</a> | <a href="#">About site provider</a>
			</div>
		</div>
	</div>
	<footer>
			<div class="row">
            	<div class="container text-center">
                    <p>
                    &copy; 2015-2016 PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. <br/>
Please see <a href="#" style="color:#F5D272;">www.pwc.com/structure</a>  for further details.          
                    </p>
                </div>
            </div>
	</footer>
</div>















