@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f6f6f6;
}
.center-content{background:#fff;}
.padd15{padding:15px}
#search-box input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cfcfcf -moz-use-text-color #cfcfcf #cfcfcf;
    border-image: none;
    border-radius: 3px 0 0 3px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    padding: 10px 15px 9px 15px;
	vertical-align:top;
	color:#323232
}
#search-box button{
	background:#EB9C00;
	padding:10px 10px 9px 10px;
	color:#fff;
	font-size:22px;
	border:none;
	border-radius:0 3px 3px 0;
}
#search-box {
    margin: 20px 0;
}
.foot1 .container {
    background: #6D6E71 none repeat scroll 0 0;
    color: #fff;
    padding: 15px 0 10px;
}
.foot1 a{color:#fff;font-size:16px;margin:0 10px;}
footer .container{background:#FDF4E5;color:#A32020;font-size:14px;padding:15px 15px 10px;line-height:24px;}
ul.foot-link{list-style:none;display:flex;padding:0px;margin-bottom:0px !important;margin-top:10px;}
.foot-link > li {
    margin-right: 15px;
}
.foot-link > li a {
    border-top: 3px solid #ccc;
    color: #323232;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
}
.foot-link > li a:hover {
	border-top: 3px solid #DC6900;
    color: #DC6900;
	text-decoration:momw;        
}
footer ul {
    list-style: outside none none;
    padding: 0;
}
footer ul li {
    float: left;
    margin: 0 12px;
}
footer ul li a{
    color: #545454;
}
.da-caption{
	   background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 400px;
    overflow: hidden;
    width: auto !important;
}



